body{
    margin:0;
    font-family: 'lato', 'sans serif';
}

nav#menu{
    background:#222;
    text-align:center;
}


nav#menu > ul{
    margin:0;
}

nav#menu > ul > li.menu-item{
    list-style:none;
    display: inline-block;
    padding: 25px;
}

nav#menu > ul > .menu-item a{
    text-decoration: none;
    color:white;
}

nav#menu > ul > .menu-item a:hover{
    color:#999;
}

header#header{
    position: relative;
    text-align: center;
}

header#header img{
    width:100%;
}
header#header h1#main-header-text{
    position: absolute;
    top:50%;
    font-size:50px;
    font-weight:700;
    left:0;
    right:0;
    margin: 0 auto;
    text-transform:uppercase; /* ta opcja zmieni tekst na wielkie litery*/
    color:white;
}

#contact{
    background:#222; 
    padding:30px;
    margin:auto;
    left:0;
    right:0;
    color:white;
}
#contact-header{
}
#contact-content>a{
    text-decoration: none;
    color:white;
    
}